<% if (currentUser) { %>
    <div class="container">
        <div class="row">
            <div class="col">
                <form action="/users/<%= currentUser._id %>/played?_method=PUT" method="POST">
                    <input type="text" name="gameId" id="gameID" value="<%= currentGame.id %>" hidden>
                    <input class="w-100 btn btn-lg btn-outline-success my-1" type="submit" value="I Have Played!">
                </form>
            </div>
            <div class="col">
                <form action="/users/<%= currentUser._id %>/owned?_method=PUT" method="POST">
                    <input type="text" name="gameId" id="gameID" value="<%= currentGame.id %>" hidden>
                    <input class="w-100 btn btn-lg btn-outline-success my-1" type="submit" value="I Own This!">
                </form>
            </div>
            <div class="col">
                <form action="/users/<%= currentUser._id %>/wantToPlay?_method=PUT" method="POST">
                    <input type="text" name="gameId" id="gameID" value="<%= currentGame.id %>" hidden>
                    <input class="w-100 btn btn-lg btn-outline-success my-1" type="submit" value="I Want To Play!">
                </form>
            </div>
        </div>
    </div>
<% } %>