<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title>Show</title>
</head>
<body>
    <%- include ('../partials/nav.ejs') %>
    <h1><%= game.name %></h1>
    <img src="<%= game.image %>" alt="<%= game.name %>">
    <%- include ('../partials/userButtons.ejs', {currentGame: game}) %>
    <h5><%= game.year %></h5>
    <h4>Average Rating: 
        <% if (game.complexity) { %>
            <%= game.complexity %></h4>
        <% } else { %>
            N/A</h4>
        <% } %>
    </h4>
    <h4>Complexity Rating: 
        <% if (game.complexity) { %>
            <%= game.complexity %></h4>
        <% } else { %>
            N/A</h4>
        <% } %>
    <h5>Player Count: <%= game.playerCount %></h5>
    <p id="description"><%= game.description %></p>
    <p id="creater"><small>Made By <%= game.designer %> & <%= game.publisher %></small></p>
    <% if (currentUser) { %>
        <a href="/games/<%= game.id %>/edit"><button>Edit</button></a>
        <form action="/games/<%= game.id %>?_method=DELETE" method="POST">
            <input type="submit" name="delete" id="delete" value="DELETE">
        </form>
    <% } %>
    
</body>
</html>