<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../partials/head.ejs') %>
    <title><%= currentUser.username %></title>
</head>
<body>
    <nav>
        <%- include ('../partials/nav.ejs') %>
    </nav>
    <h1>Welcome <%= currentUser.username %>!</h1>
        <% if (playedGames.length === 0 && ownedGames.length === 0 && wantedGames.length === 0) { %>
            <h3>Sorry, you have not added a game to your lists yet. Go <a href="/games">here</a> to find and add games!</h3>
        <% } else { %>
            <div>
                <h3>Games You've Played</h3>
                <ul>
                    <% for (let i = 0; i < playedGames.length; i++) { %>
                        <li><a href="/games/<%= playedGames[i].id %>"><%= playedGames[i].name %></a></li>
                    <% } %>
                </ul>
            </div>
            <div>
                <h3>Games You Own</h3>
                <ul>
                    <% for (let i = 0; i < ownedGames.length; i++) { %>
                        <li><a href="/games/<%= ownedGames[i].id %>"><%= ownedGames[i].name %></a></li>
                    <% } %>
                </ul>
            </div>
            <div>
                <h3>Games You Want To Play</h3>
                <ul>
                    <% for (let i = 0; i < wantedGames.length; i++) { %>
                        <li><a href="/games/<%= wantedGames[i].id %>"><%= wantedGames[i].name %></a></li>
                    <% } %>
                </ul>
            </div>
        <% } %>
    </h3>
</body>
</html>